<div class="container">
  <mat-toolbar class="header">
    <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>arrow_backward</mat-icon>
    </button>
    <span>Link Details</span>
    <div class="spacer"></div>

    @if(!editing) {
    <button mat-icon-button color="primary" (click)="switchMode()">
      <mat-icon>edit</mat-icon>
    </button>
    } @else {
    <button mat-icon-button color="warn" (click)="switchMode()">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-toolbar>
  @if(!editing) {
  <div class="content">
    <h2>Details</h2>
    <mat-divider></mat-divider>
    @if(link) {
    <mat-list>
      @for(key of Object.keys(this.link); track key) { @if(key !== 'referrers')
      {
      <mat-list-item>
        <strong>{{ key }}:</strong> {{ link[key] }}
      </mat-list-item>
      } }
    </mat-list>
    }

    <h2>Referrers</h2>
    <mat-divider></mat-divider>

    @if(link && link.referrers) {
    <div>
      <table mat-table [dataSource]="link.referrers">
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef>URL</th>
          <td mat-cell *matCellDef="let element">{{ element.url }}</td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>Count</th>
          <td mat-cell *matCellDef="let element">{{ element.count }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    }
  </div>
  } @else {
  <div class="form">
    <mat-form-field>
      <mat-label>Code</mat-label>
      <input
        matInput
        placeholder="https://example.link.com"
        [formControl]="codeInput"
        [maxlength]="15"
        [minlength]="15"
      />
      @if(loading) {
      <mat-spinner [diameter]="28" matSuffix></mat-spinner>
      } @if(codeInput.hasError('required')) {
      <mat-error>Value is required</mat-error>
      } @else if(codeInput.hasError('minLength')) {
      <mat-error>Code must be exactly 15 characters</mat-error>
      } @else if(codeInput.hasError('maxLength')) {
      <mat-error>Code must be exactly 15 characters</mat-error>
      } @else if (codeInput.hasError('pattern')) {
      <mat-error
        >Code can only be a combination of numbers and letters</mat-error
      >
      } @if (codeInput.getRawValue().length === 0) {
      <mat-hint>Enter a new code</mat-hint>
      }
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      [disabled]="loading || !codeInput.valid"
      (click)="saveChange()"
    >
      Save
    </button>

    @if(!loading && error) {
    <mat-error>{{ error }}</mat-error>
    }
  </div>
  }
</div>
